<div align="center">
    <div> 
        <% @flats.each do |flat| %>
            <%= link_to  flat.name, flat_path(flat) %>
            <%= link_to "Delete", flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %><br>
        <% end %>
    </div>

    <div>
        <%= link_to  "Create", new_flat_path %>
    </div>
</div>